@import './TypesColors.scss';

.pokemon-type{
    border-radius: 5px;
    padding: .2rem;
    font-size: .7rem;
    margin-right: 5px;
    margin-bottom: 15px;
    @each $type, $color in $type-colors {
        &.type-#{$type}{
            background-color: $color;
            color: white;
            border: 1px solid;
            border-bottom-color: darken($color, 20%);
            border-right-color: darken($color, 10%);
            border-top-color: lighten($color, 20%);
            border-left-color: lighten($color, 10%);
        }   
    }
}
