@import './../TypeLabel/TypesColors.scss';

.circle-position{
    height: 80px;
    width: 80px;
    margin: auto;

    @each $type, $color in $type-colors {
        &.type-#{$type}{
            border: 4px solid $color;
        }   
    }
}

.poke-capsule{
    height: 8vh;
    max-height: 5em;
    background-color: white;
    color: black;
    border: 3px solid gray;
    border-radius: 10em;
    box-shadow: 0 1px 5px black;
    margin-bottom: 1em;

    img{
        width: 8vh;
        max-width: 5em;
        object-fit: cover;
        //margin-top: -1em;
    }

    .responsive-title{
        font-size: unquote("min(3vh, 1.5rem)");
    }
}

@media only screen and (max-width: 600px) {
    .poke-capsule{
        width: 45%;
        max-height: none;
        height: auto;
        border-radius: 2em;
    }
    .flex-center-small{
        justify-content: center !important;
    }
}