.poketeam{
    padding: 1em 5em;
    .title{
        font-weight: bold;
        img{
            margin-right: .3em;
        }
    }
}

.team-container{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 600px) {
    .poketeam{
        padding: 1em;
        background: linear-gradient(100deg, unquote("rgb(239 99 105)") 0%, unquote("rgb(241 120 127)") 30em, unquote("rgb(203 65 62)") 30.1em, unquote("rgb(203 65 62)") 38em, #ffffff66 38.1em, #ffffff66 100%);
    }
    .team-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}