@keyframes MOVE-BG {
  from {
      background-position-y: 300%
  }
  to { 
      background-position-y: 0%
  }
}

@keyframes pikachu {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 120%;
  }
}
.main{
  padding: .5rem;
}
.bordered{
  border: 1px solid black;
}
body{
  background-image: url("images/forest_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff66;
}
#root{
  background-image: url("images/pikachu.gif");
  background-repeat: no-repeat;
  background-size: 10em;
  background-position: bottom;
  animation: pikachu;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.fullpage{
  background-color: #ffffff66;;
}
@media only screen and (min-width: 600px) {
  .fullpage{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(100deg, rgb(239 99 105) 0%, rgb(241 120 127) 33em, rgb(203 65 62) 33.1em, rgb(203 65 62) 38em, #ffffff66 38.1em, #ffffff66 100%);
  }
}